.Listings__title {
  color: #ff8a63;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  -spacing: 2px;
  text-transform: uppercase;
}
.Listings__subtitle {
  color: #45525b;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}
.Listings__text {
  color: #6f7278;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
}
.listings__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.listings__list {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
.listings__title1 {
  color: #45525b;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.listings__par {
  color: #6f7278;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
}
.listings__icon {
  width: 24px;
  height: 24px;
  gap: 20px;
}
.listings__inner {
  padding: 12px;
  width: 24px;
  height: 24px;
  background: #45525b;
}
.listings__item {
  border-radius: 10px;
  border: 1px solid rgba(202, 204, 209, 0.2);
  background: #fafafc;
  padding: 21px;
}
.newsroom__img {
  width: 1910px;
  justify-content: center;
}
.newsroom__title {
  color: #ff8a63;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.newsroom__subtitle {
  color: #45525b;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}
.newsroom__text {
  color: #6f7278;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
}
.title {
  color: #6f7278;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.subtitle {
  color: #45525b;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.newsroom__list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.newsroom__item {
  width: 379px;
}
.newsroom__item-icons-text {
  color: #45525b;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  line-height: 16.8px; /* 140% */
}
.newsroom__list-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.newsroom__arrow {
  width: 20px;
  height: 20px;
}
.newsroom__button {
  color: #45525b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
  display: flex;
  justify-content: center;
  margin-top: 48px;
  display: block;
  margin: 0 auto;
  gap: 15px;
  background-color: transparent;
  border: none;
  align-items: center;
}
.team__text {
  color: #6f7278;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 127.059% */
}
.team__subtitle {
  color: #ff8a63;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.team__title {
  color: #45525b;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}
.team__inner {
  width: 350px;
}
.team__wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.team__list {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
}
.team__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #45525b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
}
.team__item {
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  gap: 10px;
}
.team__item-name {
  color: #45525b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 149.333% */
}
.team__item-subname {
  color: #6f7278;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.store__subtitle {
  color: #ff8a63;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.store__title {
  color: #45525b;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}
.store__list {
  display: flex;
  justify-content: space-evenly;
}
.store__inner {
  margin-bottom: 20px;
}
.store__item-icon {
  width: 376px;
  height: 211px;
}
.store__item__subtitle {
  color: #ff8a63;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.store__item__text {
  color: #45525b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px; /* 120% */
}
.store__item__date {
  color: #6f7278;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 150.769% */
}
.store__btn {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #45525b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
