.hero {
  background-color: rgba(250, 250, 252, 0.78);
  background-repeat: no-repeat;
  background-image: url("../img/background.svg");
  background-size: cover;
  &__wrapper {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding-top: 300px;
    color: #45525b;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 36.8px; /* 126.897% */
  }
  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    padding: 12px;
    border: 2px solid #3a4443;
    margin: 0 auto;
    margin-top: 200px;
  }
  &__bg {
    padding-bottom: 223px;
    padding-bottom: 50px;
    background-color: rgb(250, 250, 252, 0.78);
  }
}
